{% extends "::front.html.twig" %}

{% block title %}Qui sommes-nous ? - Next Group  {% endblock %}

{% block content %}

    <div class="page-title title-1">
        <div class="container">
            <div class="row">
                <div class="cell-12">
                    <h1 class="fx" data-animate="fadeInLeft">Qui Sommes <span>Nous</span> ?</h1>
                    <div class="breadcrumbs main-bg fx" data-animate="fadeInUp">
                        <span class="bold">Vous êtes ici:</span><a href="{{ path('ng_main_aboutus') }}">Acceuil</a><span class="line-separate">/</span><span>Qui sommes nous ?</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sectionWrapper">
        <div class="container">
            <div class="fx" data-animate="fadeInUp">
                <h3 class="block-head">Présentation</h3>
                <p style="font-size: 16px; text-align: justify;">
                    Next Group est une compagnie informatique qui est spécialisée dans la
                    programmation de logiciel sur mesure, le développement de site Internet, le
                    développement d’application mobile, la consultation informatique ainsi que la
                    conception graphique. Next Group est avant tout une équipe polyvalente, jeune,
                    dynamique, innovatrice et très créative ayant comme objectif premier la
                    satisfaction de sa clientèle. Toujours en constante évolution pour être à la fine
                    pointe de la technologie, nous nous engageons à fournir des solutions
                    informatiques sur mesure adaptées aux besoins réels du client. Les membres de
                    l’équipe prennent chaque client comme un nouveau défi et notre but commun est
                    d’augmenter leur visibilité et leur rentabilité.
                </p>
                <p style="font-size: 16px; text-align: justify;"><strong>Grace à son équipe, Next Group possède une forte expertise et reflète
                        parfaitement sa passion et son professionnalisme.</strong></p>
            </div>

            <div class="clearfix"></div>

            <div class="padd-top-50">
                <div class="cell-6 fx" data-animate="fadeInLeft">
                    <div class="row">
                        <div id="tabs" class="tabs">
                            <h3 class="block-head">Nos Services </h3>
                            <ul>
                                <li class="skew-25 active"><a href="#" class="skew25"><i class="fa fa-download"></i> Développement logiciel</a></li>
                                <li class="skew-25"><a href="#" class="skew25"><i class="fa fa-android"></i> Application mobile</a></li>
                                <li class="skew-25"><a href="#" class="skew25"><i class="fa fa-envelope"></i> Sites Web</a></li>
                            </ul>
                            <div class="tabs-pane">
                                <div class="tab-panel active">
                                    <p style="font-size: 16px; text-align: justify;"><strong> Nous réalisons des solutions et
                                            permettront de vous différencier.</strong></p>
                                    <p style="font-size: 16px; text-align: justify;">Next Group contribue à la croissance de ses clients en leur permettant de
                                        développer un avantage concurrentiel dans un monde où tout est désormais
                                        logiciel. Les bénéfices sont clairs: un déploiement et une mise en marché
                                        accélérée, un niveau de qualité supérieur ainsi qu'un rendement accru sur leurs
                                        investissements en matière de logiciel.</p>
                                    <p style="font-size: 16px; text-align: justify;">Nous réalisons des solutions multiplateformes sur mesure et des produits logiciels
                                        pour les organisations qui souhaitent se différencier. Nous accompagnons nos
                                        clients bien au-delà du développement dans la réalisation de projets porteurs.</p>
                                </div>
                                <div class="tab-panel">
                                    <p style="font-size: 16px; text-align: justify;">Dans un marché où de nombreuses applications relèvent de l’amateurisme, Next
                                        Group met à votre disposition ses solides compétences en informatique pour
                                        garantir à vos applications mobiles et sites web, stabilité, efficacité et design
                                        novateur.</p>
                                    <p style="font-size: 16px; text-align: justify;">En veille permanente, nous faisons sans cesse évoluer nos compétences et les
                                        fonctionnalités utilisables dans nos applications. Votre application peut donc être
                                        évolutive et nous nous engageons à vous informer en priorité de la disponibilité
                                        de nouveautés et des possibilités d’intégration dans vos applications.</p>
                                </div>
                                <div class="tab-panel">
                                    <p style="font-size: 16px; text-align: justify;">Depuis 2015, nous avons réalisé plus de 100 créations
                                        de site internet pour des professionnels, principalement de grandes ou moyennes entreprises mais
                                        également pour des PME/PMI et des collectivités. </p>

                                        Nous vous accompagnons de bout en bout, depuis la définition de votre projet jusqu’à sa mise en ligne et assurons, si vous le souhaitez, sa maintenance.

                                        Nous mettons en oeuvre les meilleures technologies et adaptons notre offre en fonction de vos objectifs et de vos moyens.

                                        Nous vous assurons une visibilité optimale en travaillant les balises de référencement indispensables pour apparaître en bonne position sur les moteurs de recherche.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cell-1"></div>
                <div class="cell-5 fx" data-animate="fadeInRight">
                    <div class="row">
                        <h3 class="block-head">Qui Sommes nous?</h3>
                        <ul id="accordion2" class="accordion">
                            <li>
                                <h3 class="skew-25"><a href="#"><span class="skew25"><i class="fa fa-file-excel-o"></i>Notre Mission - Faire la différence</span></a></h3>
                                <div class="accordion-panel active">
                                   <p style="font-size: 16px; text-align: justify;">Next Goup a comme mission de donner à ses clients, à ses employés et aux
                                       communautés qu’elle dessert le pouvoir d’atteindre l’excellence, de mettre à jour
                                       de nouvelles possibilités et de faire la différence en alliant technologie, pensée
                                       novatrice et collaboration.</p>
                                </div>
                            </li>
                            <li>
                                <h3 class="skew-25"><a href="#"><span class="skew25"><i class="fa fa-envelope"></i>Notre Vision - être une entreprise d’innovation</span></a></h3>
                                <div class="accordion-panel">
                                   <p style="font-size: 16px; text-align: justify;">Next Group s’engage à être l’entreprise de développement, d’intégration et de
                                       gestion d’applications d’affaires la plus réputée au Mali et en Afrique en livrant la
                                       meilleure qualité et la meilleure expérience client dans les milieux de la moyenne
                                       et de la grande entreprise.</p>
                                </div>
                            </li>
                            <li>
                                <h3 class="skew-25"><a href="#"><span class="skew25"><i class="fa fa-flag"></i>Nos valeurs : les piliers derrière Next Group</span></a></h3>
                                <div class="accordion-panel">
                                    <p style="font-size: 16px; text-align: justify;">La culture Next Group s’appuie sur les valeurs qui nous guident en tant
                                        qu’entreprise, nous permettant d’avancer et d’évoluer chaque jour.</p>
                                  <p>  <strong>Excellence : </strong>
                                      Le désir de réaliser ce qui se fait de mieux et se dépasser, continuellement.</p>
                                  <p><strong>Innovation : </strong>
                                      L’ADN de notre entreprise, c’est d’être constamment en amont des nouvelles
                                      pratiques, tant en technologie qu’en affaires.</p>
                                  <p><strong>Esprit d'équipe: </strong>
                                      Allier nos compétences et combiner nos efforts pour atteindre l'excellence.</p>
                                  <p><strong>Transparence</strong>
                                      L’assurance de toujours communiquer toute l’information reliée à un projet, pour
                                      une relation de confiance accrue.</p>
                                    <p><strong>Imputabilité</strong>
                                        La capacité de prendre en charge les réussites et d’assumer les erreurs.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="block-bg-4 our-plan">
        <div class="container">
            <div class="cell-5 plan-block lft-plan">
                <div class="block fx" data-animate="fadeInRight">
                    <h3>L'aventure</h3>
                    <p>Fusce mollis massa vel leo imperdiet ultrices. Cras ut tristique tellus. Morbi velit risus, ultrices vitae sodales ac, aliquam id eros.
                        Vivamus sit amet odio pellentesque odio faucibus tristique. Morbi facilisis, ligula a faucibus pellentesque, orci justo consequat massa, sit amet dapibus dolor diam viverra mi.</p>
                    <div class="plan-year">Juin<span> 2015</span></div>
                </div>
                <div class="block fx" data-animate="fadeInRight">
                    <h3>La chasse aux Investisseurs</h3>
                    <p>Fusce mollis massa vel leo imperdiet ultrices. Cras ut tristique tellus. Morbi velit risus, ultrices vitae sodales ac, aliquam id eros.
                        Vivamus sit amet odio pellentesque odio faucibus tristique. Morbi facilisis, ligula a faucibus pellentesque, orci justo consequat massa, sit amet dapibus dolor diam viverra mi.</p>
                    <div class="plan-year">Juillet<span> 2015</span></div>
                </div>
                <div class="block fx" data-animate="fadeInRight">
                    <h3>Prise de conscience</h3>
                    <p>Fusce mollis massa vel leo imperdiet ultrices. Cras ut tristique tellus. Morbi velit risus, ultrices vitae sodales ac, aliquam id eros.
                        Vivamus sit amet odio pellentesque odio faucibus tristique. Morbi facilisis, ligula a faucibus pellentesque, orci justo consequat massa, sit amet dapibus dolor diam viverra mi.</p>
                    <div class="plan-year">Octobre <span>2015</span></div>
                </div>
            </div>
            <div class="cell-2 plan-title">
                <div class="main-color extraBold">Notre <br>
                    <span>Plan</span>
                </div>
            </div>
            <div class="cell-5 plan-block rit-plan">
                <div class="block fx" data-animate="fadeInLeft">
                    <h3>Création de Next Group</h3>
                    <p>Fusce mollis massa vel leo imperdiet ultrices. Cras ut tristique tellus. Morbi velit risus, ultrices vitae sodales ac, aliquam id eros.
                        Vivamus sit amet odio pellentesque odio faucibus tristique. Morbi facilisis, ligula a faucibus pellentesque, orci justo consequat massa, sit amet dapibus dolor diam viverra mi.</p>
                    <div class="plan-year"> <span> Déc 2015</span></div>
                </div>
                <div class="block fx" data-animate="fadeInLeft">
                    <h3>L'incubateur CREATEAM</h3>
                    <p>Fusce mollis massa vel leo imperdiet ultrices. Cras ut tristique tellus. Morbi velit risus, ultrices vitae sodales ac, aliquam id eros.
                        Vivamus sit amet odio pellentesque odio faucibus tristique. Morbi facilisis, ligula a faucibus pellentesque, orci justo consequat massa, sit amet dapibus dolor diam viverra mi.</p>
                    <div class="plan-year"><span>2016</span></div>
                </div>
                <div class="block fx" data-animate="fadeInLeft">
                    <h3>Elargissement du domaine d'activité</h3>
                    <p>Fusce mollis massa vel leo imperdiet ultrices. Cras ut tristique tellus. Morbi velit risus, ultrices vitae sodales ac, aliquam id eros.
                        Vivamus sit amet odio pellentesque odio faucibus tristique. Morbi facilisis, ligula a faucibus pellentesque, orci justo consequat massa, sit amet dapibus dolor diam viverra mi.</p>
                    <div class="plan-year"><span>2017</span></div>
                </div>
            </div>
        </div>
    </div>

    <div class="sectionWrapper gry-pattern">
        <div class="container team-boxes">
            <h3 class="block-head">Rencontrez notre équipe</h3>
            <div class="cell-3 fx" data-animate="bounceIn">
                <div class="team-box">
                    <div class="team-img">
                        <img alt="" src="{{ absolute_url(asset('assets/images/people/sekou.jpg')) }}" width="500" height="500">
                        <h3>Sékou Assane Sidibé</h3>
                    </div>
                    <div class="team-details">
                        <h3 class="gry-bg">Sékou Assane Sidibé</h3>
                        <div class="t-position">Fondateur &  DG</div>
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolre eu feugiat nula faciisis at vero eros.</p>
                        <div class="team-socials">
                            <ul>
                                <li><a href="https://www.facebook.com/cheickassane.sidibe" target="_blank" title="facebook"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#" title="linkedin"><span class="fa fa-linkedin"></span></a></li>
                                <li><a href="#" title="skype"><span class="fa fa-skype"></span></a></li>
                                <li><a href="#" title="twitter"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#" title="vimeo"><span class="fa fa-google-plus"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell-3 fx" data-animate="bounceIn" data-animation-delay="200">
                <div class="team-box">
                    <div class="team-img">
                        <img alt="" src="{{ absolute_url(asset('assets/images/people/sountoura.jpg')) }}" width="500" height="500">
                        <h3>Moussa Sountoura</h3>
                    </div>
                    <div class="team-details">
                        <h3 class="gry-bg">Moussa Sountoura</h3>
                        <div class="t-position">Directeur Administratif.</div>
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolre eu feugiat nula faciisis at vero eros.</p>
                        <div class="team-socials">
                            <ul>
                                <li><a href="#" title="facebook"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#" title="linkedin"><span class="fa fa-linkedin"></span></a></li>
                                <li><a href="#" title="skype"><span class="fa fa-skype"></span></a></li>
                                <li><a href="#" title="twitter"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#" title="vimeo"><span class="fa fa-google-plus"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell-3 fx" data-animate="bounceIn" data-animation-delay="400">
                <div class="team-box">
                    <div class="team-img">
                        <img alt="" src="{{ absolute_url(asset('assets/images/people/kone.jpeg')) }}" width="500" height="500">
                        <h3>Koudeidja F Koné</h3>
                    </div>
                    <div class="team-details">
                        <h3 class="gry-bg">Koudeidja F Koné</h3>
                        <div class="t-position">Responsable clientèle</div>
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolre eu feugiat nula faciisis at vero eros.</p>
                        <div class="team-socials">
                            <ul>
                                <li><a href="#" title="facebook"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#" title="linkedin"><span class="fa fa-linkedin"></span></a></li>
                                <li><a href="#" title="skype"><span class="fa fa-skype"></span></a></li>
                                <li><a href="#" title="twitter"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#" title="vimeo"><span class="fa fa-google-plus"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell-3 fx" data-animate="bounceIn" data-animation-delay="600">
                <div class="team-box">
                    <div class="team-img">
                        <img alt="" src="{{ absolute_url(asset('assets/images/people/toure.jpg')) }}" width="500" height="500">
                        <h3>Abdoulaye  Touré </h3>
                    </div>
                    <div class="team-details">
                        <h3 class="gry-bg">Abdoulaye  Touré </h3>
                        <div class="t-position">Directeur RH</div>
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolre eu feugiat nula faciisis at vero eros.</p>
                        <div class="team-socials">
                            <ul>
                                <li><a href="#" title="facebook"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#" title="linkedin"><span class="fa fa-linkedin"></span></a></li>
                                <li><a href="#" title="skype"><span class="fa fa-skype"></span></a></li>
                                <li><a href="#" title="twitter"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#" title="vimeo"><span class="fa fa-google-plus"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}