<div class="container">
    <div class="row">
        <div class="logo cell-3">
            <a href="{{ path('ng_main_homepage') }}"></a>
        </div>
        <div class="cell-9 top-menu">

            <!-- top navigation menu start -->
            <nav class="top-nav mega-menu">
                <ul>
                    <li class="selected"><a href="{{ path('ng_main_homepage') }}"><i class="fa fa-home"></i><span>Acceuil</span></a></li>
                    <li><a href="#"><i class="fa fa-key"></i><span>Expertises</span></a>
                        <ul>
                            <li><a href="{{ path('ng_main_solution_erp') }}"><i class="fa fa-send"></i>Solutions ERP</a></li>
                            <li><a href="{{ path('ng_main_solutions_web') }}">Solutions web</a></li>
                            <li><a href="{{ path ('ng_main_solutions_mobiles')}}">Solutions mobiles</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="fa fa-gift"></i><span>Services</span></a>
                        <ul>
                            <li><a href="{{ path('ng_main_service_audit_conseil')}}">Audit et Conseil</a></li>
                            <li><a href="{{ path('ng_main_service_suivi_formation')}}">Suivi et Formation</a></li>
                            <li><a href="portfolio-4-cols.html">Maintenances et Qualité</a></li>

                        </ul>
                    </li>
                    <li><a href="{{ path('ng_main_aboutus') }}"><i class="fa fa-copy"></i><span>Qui sommes nous ?</span></a></li>
                    <li><a href="{{ path('ng_main_contact') }}"><i class="fa fa-suitcase"></i><span>Contactez nous</span></a></li>

                </ul>
            </nav>
            <!-- top navigation menu end -->


        </div>
    </div>
</div>